name: "Close wishlist issues"
on:
  schedule:
    - cron: "0 0 * * 0" # Once a week
  workflow_dispatch:

jobs:
  clean-up:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10
        with:
          stale-issue-message: "This issue has been tagged as wishlist and no one has assigned themselves to it within a year. It will be closed in 10 days unless someone assigns themselves to it."
          close-issue-message: "This issue was closed because it has been tagged as wishlist and no one worked on it for over a year."
          days-before-stale: 346
          days-before-close: 10
          any-of-labels: "wishlist"
